@import "components/navbar.css";
@import "components/images.css";
@import "components/containers.css";
@import "components/footer.css";

body {
  margin: 0;
  font-family: ;
  line-height: 1.7;
  background-color: #F8F9F5;
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Syne', sans-serif;
}
