.main-section {
  display: flex;
  padding: 32px;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 32px;
}

.content p {
  opacity: 0.7;
  margin-top: 24px;
  margin-right: 32px;
  margin-bottom: 0;
  width: 300px;
}

.projects {
  display: flex;
  justify-content: space-between;
}

.project {
  flex-grow: 1;
  height: 450px;
  text-align: center;
  align-items: center;
  padding: 32px 0;
}

.project img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding: 16px;
}

.project img:hover {
  opacity: 0.5;
}

.project h3:hover {
  opacity: 0.5;
}

.project p {
  opacity: 0.7;
  width: 250px;
  margin: auto;
  line-height: 1.2;
  font-size: 14px;
}
